body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  color: #333;
  padding: 30px;
  text-align: centro;
  margen: 0;
}

H1 {
  margen-abajo: 40Px;
  color: #007acc;
}

.malla {
  display: Flex;
 Envoltura flexible: envoltura;
 Justificar-contenido.: centro;
  brecha: 30Px;
}

.semestre {
  Fondo: #ffffff;
  frontera-radio: 15Px;
    sombra de caja: 0 4  Px 8px rgba(,);
   relleno: 20 relleno: 2020Px;
  ancho: 250Px;
  transición: transformar 0.2s facilidad;
}

.semestre:flotar {
  transformar: escalar(1.03);
}

.semestre h2 {
  Fuente-tamaño: 1.1em;
  margen-abajo: 15Px;
  color: #444;
}

.ramo {
  Fondo: #d1eaff;
  frontera-radio: 10Px;
  relleno: 10Px;
  margen-abajo: 10Px;
  cursor: puntero;
  transición: 0.3s facilidad;
}

.ramo:flotar {
  Fondo: #a8dcff;
  fuente-peso: audaz;
}
